.outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 50px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 10px 5px 5px rgb(0, 200, 255);
}
.inner{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3{
  border: 1px solid grey;  
  display: inline;
  padding: 10px;
  border-radius: 8px;
}

button{
    color: black;
    background-color: aqua;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
